move.sh



#API key for fbsr.is:
# eyJhbGciOiJSUzUxMiIsImtpZCI6Ikp4UXdwbzkzOXNrYktlYWp3MFhkRjZRc2R0dnd1OUsxemdGa3ZSSFE1cmsifQ.eyJzdWIiOiJ2YXVVWnFDcFpUc2tJWkJGIiwidHlwZSI6InBlcnNvbmFsX2FjY2Vzc190b2tlbiIsImF1ZCI6ImRlY2lzaW9ucyxpbSIsImp0aSI6Ik5PclhLZDNpVUZ2czFMNHVhYWZJTG9CSCIsImlzcyI6Imh0dHBzOi8vYWNjb3VudHMudXMuZDRoLmNvbSIsImlhdCI6MTc3Mjk3OTAzMX0.caNDydikA5-FtjclyqRg5V_J3yhK_l8smIPdFb338zkE_JljhzmcqlS8bX22Y-05MMzds7PaDE6U80WBj2bmxi3Na59AFKYHjllW-9NPnL9p5x4dxnOnO_kgoeoqBv3tOSNpX5Gl4tBkJSYspxrVKOL4gJFdvhPIJpZMx4ogCTR2UMiK5_TkspkcHg_bbOn5NP2dAD4lEJylo8b-38XewbOQ6p5L9Is75yJiSXWlnaad5mckJ3ESpqTl9TxMLETRt5dQ_M2gQly016irQ3TLk0iGF3QYMtuls8R4bUIacZndQD6e0ZzHUoIKahZutOQ-N919b8tv1BEbgu0OL2XE-w

# API key for nonni dev:
# eyJhbGciOiJSUzUxMiIsImtpZCI6Ikp4UXdwbzkzOXNrYktlYWp3MFhkRjZRc2R0dnd1OUsxemdGa3ZSSFE1cmsifQ.eyJzdWIiOiJ2YXVVWnFDcFpUc2tJWkJGIiwidHlwZSI6InBlcnNvbmFsX2FjY2Vzc190b2tlbiIsImF1ZCI6ImRlY2lzaW9ucyxpbSIsImp0aSI6IlNRUGdrSFhEMHJqM2NOZldjOGJxWDV3RCIsImlzcyI6Imh0dHBzOi8vYWNjb3VudHMudXMuZDRoLmNvbSIsImlhdCI6MTc2MTYwMDkzNX0.rbn21vl2MlBoBuaekNMUxTk4V9IWOJanVh6TS5E5IGqT6bxBxXCINty_uwyFeF1rhxWxdKM8Hz127tNKZGE2scJKVYWoOu0suwRHLzphmwRku0NdhFejQ2AA2lCPxnZ70fqel58QDPftv-_Q-qT3sY4H7OV2-34SwNx5O0pj2JS2Vt4C86Zy7cr2S3IyKobAg4Kc9P6KUKEcMd70TnSWlXi2y36bWrYZpG9QsF9-EI-N-0Jo3otrUJspVG08x4MoyM1GbZKmIWwmKHKhCks8Sb6ag-7RWtjF-wAcREt7t2O01vbImgYRNtz0S9j80RvMv-kfnQ9qU2t40LDpcLku1A